

mid{
    -webkit-box-align:center;
    -webkit-box-pack:center;
    display:-webkit-box;
    padding-top: 10px;
}


.subCard{
    width: 250px;
    height: 370px;
    margin:20px;
    text-align: left;
    display: inline-block;
    padding: 20px;
    border-radius: 30px;

}

.subCard ul {
    margin-top: 20px;

}
.subCard ul li{
    color: #acacac;

}


.recommended-btn{
    position:absolute;
    margin-top: -40px;
    margin-left: -60px;
}