*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Inter', sans-serif;

}

.container{
    position: absolute;
    top: 0px;
    padding-left: 270px;
    padding-right: 50px;
    padding-top: 100px;
    min-height: 100%;
    height:max-content;
    min-width: 100%;
    background-color: #f5f6f8;
    box-sizing: border-box;
}
